apiVersion: apps/v1
kind: Deployment
metadata:
  name: develop-stable
  namespace: develop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gitops
  template:
    metadata:
      labels:
        app: gitops
    spec:
      serviceAccountName: gitops-sa
      containers:
      - name: app
        image: ashrith2727/gitops:40
        ports:
        - containerPort: 3002
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /health
            port: 3002
        livenessProbe:
          httpGet:
            path: /health
            port: 3002
