apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo-stable
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gitops-demo
  template:
    metadata:
      labels:
        app: gitops-demo
    spec:
      serviceAccountName: gitops-app-sa
      containers:
      - name: app
        image: ashrith2727/gitops:30
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
        env:
        - name: APP_ENV
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: APP_ENV
